[MESSAGES CONTROL]
disable = C0330, C0326, locally-disabled, fixme,  R0801 # needs to remain disabled see https://github.com/PyCQA/pylint/issues/214


[format]
max-line-length = 88


[master]
optimize-ast=yes
